#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
  background: rgba(255,255,255,0.7);
}

img {
  height: 100px;
  margin-top: 18%;
}

#reset img {
  height:auto;
  margin-top: 7%;
}

#reset img:hover{
  height: 70px;
}


body{
  background: url("./background.jpg ");
  background-size: auto;
}

h1 img{
  margin: 0 auto;
}
